/* Entire Doc */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* Body */
body{
    background-color: #f9f9f9;
    height: inherit;
    display: flex;
    flex-direction: column;
}

/* Nav Bar */
nav{
    position: fixed;
    width: 100%;
    padding: .5rem;
    top: 0;
    left: 0;
    background-color: #004ba0;
    text-align: right;
}

nav li{
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.web-name{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: .5em;
    font-size: 1.25rem;
}

.nav-link {
    display: none;
}

#hamburger-menu{
    font-size: 1em;
    height: 1.5em;
    text-decoration: none;
}

.web-name a{
    color: #66bb6a;
    border-bottom: none;
}

/* Header */
h1{
    margin-top: 2em;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

header p{
    margin-left: 1rem;
    margin-right: 1em;
}

/* Main */
main{
    flex: 1;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Footer */
footer{
    background-color: #004ba0;
    margin-top: 1rem;
    width: 100%;
}

footer > p{
    color: white;
    text-align: center;
    font-size: .9rem;
}

.portfolio a{
    color: #66bb6a;
}

/* Filter */
.filter {
    flex-basis: 200px;
    background-color: #66bb6a;
    padding-left: 1em;
    padding-right: 1em;
    display: none;
    border-radius: 0 15px 15px 0;
}

.filter-options a {
    color: white;
    text-decoration: none;
}

.filter-list{
    list-style-type: none;
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.filter > h2{
    color: white;
}


/* Cards */
.bus-cards{
    flex: 1;
    padding-left: 1em;
}

.card-btn {
    border: none;
    background-color: none;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    flex-basis: 200px;
    background-color: #004ba0;
    margin: 1em 1em;
    border-radius: 15px;
}

.card > p{
    color: white;
    margin: .25em;
    text-align: center;
}

.bus-name{
    font-size: 1.25em;
}

.bus-loc{
    font-size: 1em;
}

.card > img{
    width: 200px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

/* Model for Cards */
.modal-card {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1; /* Code from W3Schools on Modals */
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 95%; /* For phone */
}

/* Add a Business Form */
.form-title, .form-area{
    margin-left: 1rem;
}

.form-field{
    margin-bottom: .5rem;
}

.btn{
    background-color: green;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

/*Splash Page */
.splash-page{
    background-color: #004ba0;
}

.splash-h1{
    color: white;
}

.site-sub{
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

.splash-h2{
    color: white;
    text-align: center;
    margin-right: 0px;
}

.splash-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.location-btn{
    background-color: #66bb6a;
    padding: .5rem;
    border-radius: 25px;
    margin-right: 3rem;
    flex-basis: 150px;
    margin-bottom: 10px;
}

.location-btn a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.citations{
    margin-left: 10px;
    display: block;
}

.citations > cite{
    margin-right: 5px;
}

.citations > h2{
    margin-bottom: 10px;
    margin-top: 25px;
}

.citations > h3{
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Hovers, Actives, and Focus to avoid some weird JEST errors */

.btn-primary{
    background-color: #004ba0;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #002571;
}

nav a:hover, nav a:focus{
    color: #66bb6a;
    border-bottom: #66bb6a solid .1rem;
}

.web-name a:hover, .web-name a:focus{
    color: #66bb6a;
    border-bottom: none;
}

.portfolio a:hover, .portfolio a:focus{
    color: white;
    border-bottom: white solid .1rem;
    text-decoration: none;
}

.filter-options a:hover, .filter-options a:focus{
    color: #004ba0;
    font-size: 1.2rem;
}

.card:hover, .card:focus{
    background-color: #66bb6a;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.location-btn:hover{
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
}

.location-btn a:hover, .location-btn a:focus{
    color: #004ba0;
}

/* Responsive Design */
@media (min-width: 598px) {
    .nav-link {
        display: inline;
    }

    #hamburger-menu{
        display: none;
    }
}

@media (min-width: 768px) {
    .filter{
        display: inline;
    }
}